.hero {
    position: relative;
    height: 100px;
    padding: 0;
    margin: auto;
    background-image: url("EarthquakePic3.png");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
}
.hero h1 {
    color: white;
}

.hero h2 {
    color: white;
}

.hero h3 {
    color: white;
}

.hero h4 {
    color: white;
}

p {
    font-weight: bold;
}